h1 {
  color: blue;
}

#dropZone {
    background-image: url("/assets/fishbowl.png");
    width: 512px;
    height: 512px;
}

#poisonZone {
    background-image: url("/assets/poisonfishbowl.png");
    width: 512px;
    height: 512px;
}

#dropZone,
#poisonZone,
#fish {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  min-height: 200px;
  margin-bottom: 20px;
}

#fishBowl {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}

#fish {
  object-fit: cover;
  z-index: 2;
}

.poisoned {
    transition-duration: 3s;
    transition-delay: 2s;
    transform: rotate(180deg)

}